DROP TABLE CATEGORY;
CREATE TABLE CATEGORY(
		CATE_NUM INT,
		NAME VARCHAR(40) NOT NULL,
	PRIMARY KEY(CATE_NUM)
);

DROP TABLE SUBCATEGORY;
CREATE TABLE SUBCATEGORY (
		CAT_NUM INT NOT NULL,
		MY_NUM INT NOT NULL,
		NAME VARCHAR(40) NOT NULL,
	FOREIGN KEY(CAT_NUM) REFERENCES CATEGORY(CATE_NUM),
	PRIMARY KEY(MY_NUM, CAT_NUM)
);

DROP TABLE ITEM;
CREATE TABLE ITEM (
		I_NUM INT NOT NULL,
		CATEGORY INT,
		SUB_CAT INT,
		NAME VARCHAR(30) NOT NULL,
		PRICE INT NOT NULL,
		IMPORTER VARCHAR(40),
		EXP_DATE VARCHAR(30),
		MADE_IN VARCHAR(30) NOT NULL,
		TOTAL_STOCK INT NOT NULL,
	PRIMARY KEY(I_NUM),
	FOREIGN KEY(CATEGORY, SUB_CAT) REFERENCES SUBCATEGORY(MY_NUM,CAT_NUM)
);

DROP TABLE CUSTOMER;
CREATE TABLE CUSTOMER (
		C_NUM VARCHAR(30) AUTO_INCREMENT NOT NULL,
		ID VARCHAR(30) NOT NULL,
		PW VARCHAR(30) NOT NULL,
		ZIPCODE INT,
		NAME VARCHAR(40) NOT NULL,	
		PHONENUM VARCHAR(13),
		CITY VARCHAR(45),
		GENDER VARCHAR(1),
		AGE INT,
		JOB VARCHAR(20),
		PRIMARY KEY(C_ID)
);

DROP TABLE SHOPPINGBAG;
CREATE TABLE SHOPPINGBAG (
		C_ID VARCHAR(30) NOT NULL,
		TOTAL_INUM INT,
	PRIMARY KEY(C_ID),
	FOREIGN KEY(C_ID)  REFERENCES CUSTOMER(C_ID)
);

DROP TABLE SH_ITEML;
CREATE TABLE SH_ITEML (
SH_NUM INT NOT NULL,
I_NUM INT NOT NULL,
L_NUM INT NOT NULL,
PRIMARY KEY(SH_NUM, L_NUM),
FOREIGN KEY(SH_NUM) REFERENCES SHOPPINGBAG(C_ID),
FOREIGN KEY(I_NUM) REFERENCES ITEM(I_NUM)
);

DROP TABLE RETAILER;
CREATE TABLE RETAILER (
		R_NUM INT NOT NULL,
		CITY VARCHAR(40) NOT NULL,
	PRIMARY KEY(R_NUM)
);

DROP TABLE ORDERED;
CREATE TABLE ORDERED (
	O_NUM INT NOT NULL,
	CUS_ID VARCHAR(30) NOT NULL,
	RETAILER_NUM INT,
	ORDER_DATE DATE NOT NULL,
	STATE VARCHAR(15) NOT NULL,
	CITY VARCHAR(45) NOT NULL,
	ZIPCODE INT NOT NULL,
	PRIMARY KEY(O_NUM),
	FOREIGN KEY(RETAILER_NUM) REFERENCES RETAILER(R_NUM),
	FOREIGN KEY(CUS_ID) REFERENCES CUSTOMER(C_ID)
);

DROP TABLE ORD_ITEML;
CREATE TABLE ORD_ITEML (
		O_NUM INT NOT NULL,
		I_NUM INT NOT NULL,
		L_NUM INT NOT NULL,
	PRIMARY KEY(O_NUM, L_NUM),
	FOREIGN KEY(O_NUM) REFERENCES ORDERED(O_NUM),
	FOREIGN KEY(I_NUM) REFERENCES ITEM(I_NUM)
);

DROP TABLE POSSESS_ITEM;
CREATE TABLE POSSESS_ITEM (
		R_NUM INT NOT NULL,
		ITEM_NUM INT NOT NULL,
		STOCK INT DEFAULT 0,
	PRIMARY KEY(R_NUM, ITEM_NUM),
	FOREIGN KEY(R_NUM) REFERENCES RETAILER(R_NUM),
	FOREIGN KEY(ITEM_NUM) REFERENCES ITEM(I_NUM)
);

DROP TABLE PRODUCER_LOCATION;
CREATE TABLE PRODUCER_LOCATION (
I_NUM INT,
NUMBER INT,
PHONE INT NOT NULL,
STATE VARCHAR(10),
NAME VARCHAR(30),
PRIMARY KEY(NUMBER),
FOREIGN KEY (I_NUM) REFERENCES ITEM(I_NUM)
);

Insert Into CUSTOMER (ID, PW, ZIPCODE, NAME, PHONENUM, CITY) VALUES ('dh1', 'gd9',1614,'IS', '010-3842-1009', 'Seoul')
Insert Into CUSTOMER (ID, PW, ZIPCODE, NAME, PHONENUM, CITY) VALUES ('gi6', 'kj8',1705,'IA', '010-9166-6608', 'Daegu')
Insert Into CUSTOMER (ID, PW, ZIPCODE, NAME, PHONENUM, CITY) VALUES ('ik5', 'pu5',1548,'TA', '010-6594-2807', 'Daejun')
INSERT INTO RETAILER VALUES(1, 'SEOUL');
INSERT INTO RETAILER VALUES(2, 'INCHEON');
INSERT INTO RETAILER VALUES(3, 'SEJONG');

INSERT INTO CATEGORY VALUES(1,'FRUIT/NUT');
INSERT INTO CATEGORY VALUES(2,'VEGETABLE');
INSERT INTO CATEGORY VALUES(3,'SEAFOOD/STOCKFISH');
INSERT INTO SUBCATEGORY VALUES(1,1,'PERSIMMON/GOTGAM');
INSERT INTO SUBCATEGORY VALUES(1,2,'TANGIRINE/HANRABONG');
INSERT INTO SUBCATEGORY VALUES(1,3,'APPLE/PEAR');
INSERT INTO ITEM VALUES(1,1,1,'SWEET GOLD KIWI',10900, 'JESFREINTERNAIONALKOREA','10d', 'NZ', 0);
INSERT INTO ITEM VALUES(2,1,1, 'FANCY LEMON', 7900, 'SUIL','10d','CHL', 10);
INSERT INTO ITEM VALUES(3, 1, 1, 'GREEN KIWI', 13900, 'JESFREINTERNAIONALKOREA', '7d' , 'NZ', 1000);

INSERT INTO SHOPPINGBAG VALUES(1, 11);
INSERT INTO SH_ITEML VALUES(1, 38, 1);
INSERT INTO SH_ITEML VALUES(1, 15, 2);
INSERT INTO SH_ITEML VALUES(1, 31, 3);
INSERT INTO SHOPPINGBAG VALUES(2, 14);
INSERT INTO SHOPPINGBAG VALUES(3, 12);

INSERT INTO PRODUCER_LOCATION VALUES(1, 1, 01098233533, 'Open','ZESPRIINTL LTD(NZ)');
INSERT INTO PRODUCER_LOCATION VALUES(2, 2, 01096351673, 'Open','KKMC');
INSERT INTO PRODUCER_LOCATION VALUES(2, 3, 01096351673, 'Open','KKMC');

INSERT INTO ORDERED VALUES(1, 2, 2, '2017-2-3', 'Deliver', 'INCHEON', 20416);
INSERT INTO ORD_ITEML VALUES(1, 35, 1);
INSERT INTO ORDERED VALUES(2, 3, 3, '2017-3-14', 'Complete', 'SEJONG', 23444);
INSERT INTO ORD_ITEML VALUES(2, 41, 1);
INSERT INTO ORD_ITEML VALUES(2, 17, 2);
INSERT INTO ORDERED VALUES(3, 4, 4, '2018-4-4', 'Prepare', 'DAEJUN', 17863);

Select count(*)
From ITEM
Where ITEM.TOTAL_STOCK <= 20;

Select COUNT(*)
FROM CUSTOMER;

SELECT C.NAME 
FROM CUSTOMER C 
WHERE (SELECT COUNT(*) 	
	FROM ORDERED O 
	WHERE C.C_ID = O.CUS_ID) >= 7;

SELECT o1.RETAILER_NUM
FROM ORDERED o1
WHERE DATE(o1.ORDER_DATE) BETWEEN '2018-04-01' AND '2018-10-30'
GROUP BY o1.RETAILER_NUM
ORDER BY COUNT(o1.O_NUM) ASC LIMIT 3;













